:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --text-color-hover: #4d5ae5;
  --accent-color: #404bbf;
  --background-color: #ffffff;
  --background-btn-filters: #f4f4fd;
}

.list{
    list-style: none;
}


.link,
.header-contact a,
.page-logo,
.header-contact,
.navigation-list-item,
.navigation-link,
.contact {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.navigation-list-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts-adress {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.page-logo {
  font-family: "Raleway",sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;

}

.span-logo {
  font-family: 'Raleway';
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase ;
   
   color: #2E2F42;
}

.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.modal-open-btn:hover,
.modal-open-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.button {
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-open-btn {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  color: #ffffff;
}

.text-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.title-description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.page-logo-description {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-btn-filters);
}
.span-logo-footer {
    font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase ;
   color: #f4f4fd;
}
.team-background-color {
  background: #f4f4fd;
}
.team-card {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.button-filter:hover,
.button-filter:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.button-filter {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  background: #f4f4fd;
  /* CORNFLOWER */

  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.projects-title {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #e7e9fc;
}
.top-line {
  box-sizing: border-box;
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.navigation-list-item:hover,
.navigation-list-item:focus {
  color: #404bbf;
}

.navigation-list:hover,
.navigation-list:focus {
  color: #404bbf;
}

.contact:hover,
.contact:focus {
  color: #404bbf;
}

.contacts-address:hover,
.contacts-address:focus {
  color: #404bbf;
}
.contacts-address {
  font-style: normal;
}

.contact {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.contacts-address{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}

.header-contact{
     line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}
